if (stocks.length == 0)
    p Нет складов
else
    thead
        tr
            th Номер
            th Название
            th Адрес
            th Количество разновидностей товаров
            th Количество всего твоваров
            th
    tbody
        each stock in stocks
            tr 
                td #{stock.id}
                td #{stock.name}
                td #{stock.address}
                td #{stock.products.length}
                td #{stock.amounts_sum}
                td
                    a.stock_info.btn.btn-info.btn-sm(href='/stocks/' + '#{stock._id}' title="Подробнее")
                        i.fa.fa-info
